* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:visited,
a:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

input,
select,
textarea,
.form-control {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0 !important;
  color: #000000 !important;
}

input:focus,
select:focus,
textarea:focus,
.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #000000 !important;
  border-radius: 0 !important;
  color: #000000 !important;
}

.loader {
  text-align: center !important;
}

.body404 {
  padding-top: 8%;
}

html,
body {
  line-height: 1.7rem;
  font-size: 1.06rem;
  font-family: "Rajdhani", sans-serif;
  color: #4c4c4c;
  width: 100%;
  height: 100%;
  font-weight: 500;
  background-image: linear-gradient(52deg, rgba(196, 196, 201, 0.25) 1%, rgb(247, 247, 247) 53%, rgba(196, 196, 201, 0.25) 53%);
  background-size: cover;
}

.content-wrapper-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding-top: 8rem;
}

@media (max-width: 991.98px) {
  .content-wrapper {
    padding-top: 5rem;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.box-shadow {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}

.icon-color {
  color: #3466F6;
}

.no-border {
  border: 0;
  background: transparent;
}

.no-padding {
  padding: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.hide-on-desktop {
  display: none;
}

.show-on-desktop {
  display: block;
}

.primary-btn {
  padding: 0.5rem 0.8rem;
  background-color: #3466F6;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.primary-btn:hover {
  background-color: #004F93;
  color: #e9e9e9;
  text-decoration: none;
}
.primary-btn:focus {
  color: #ffffff;
}

.view-more-link {
  color: #3466F6;
  font-weight: 500;
}
.view-more-link:hover {
  color: #004F93;
}

.disabled-btn {
  padding: 0.3rem 0.8rem;
  background-color: #e9e9e9;
  color: #c2c2c2;
  cursor: auto !important;
  border: 1px solid #e9e9e9;
}

.primary-link {
  color: #3466F6;
}
.primary-link:hover {
  color: #004F93;
}

.backdrop-visible {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  transition: opacity 0.6s;
  background: #000000;
  opacity: 0.5;
}

.hide-on-all-screen {
  display: none;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*=col-] {
  flex-grow: 1;
}

@media (max-width: 991.98px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .remove-left-right-padding-small-device {
    padding-left: 0;
    padding-right: 0;
  }
  .div-width-full {
    width: 100%;
  }
  .primary-btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
}
.next-btn,
.pre-btn {
  display: none;
}

header {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 4;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 !important;
}

header .header-content-wrapper {
  display: flex;
  align-items: center;
}

header .header-content-wrapper .left-content-wrapper {
  order: 1;
  width: 15%;
}

header .header-content-wrapper .middle-content-wrapper {
  order: 2;
  width: 80%;
  line-height: 2.375rem;
}

header .header-content-wrapper .right-content-wrapper {
  order: 3;
  width: 5%;
}

/* Middle Nav Style */
header .header-content-wrapper .middle-content-wrapper ul li {
  float: right;
  margin-right: 0.3rem;
  margin-left: 0.9rem;
}

header .header-content-wrapper .middle-content-wrapper ul li a {
  text-decoration: none;
  color: #4c4c4c;
  font-size: 1.1rem;
}
header .header-content-wrapper .middle-content-wrapper ul li a:hover {
  color: #252525;
}

header .header-content-wrapper .middle-content-wrapper .header-nav-link.active {
  color: #000000;
  cursor: auto;
  font-weight: 500;
}
header .header-content-wrapper .middle-content-wrapper .header-nav-link.active:hover {
  font-weight: 500;
}

/* Right Nav Style */
header .header-content-wrapper .right-content-wrapper ul li {
  float: right;
  font-size: 1.1rem;
  padding-left: 1rem;
}

header .header-content-wrapper .right-content-wrapper .account-desc-link {
  display: inline;
}

header .header-content-wrapper .right-content-wrapper .header-account-link {
  text-decoration: none;
  color: #252525 !important;
  background-color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
header .header-content-wrapper .right-content-wrapper .header-account-link:hover {
  color: #000000 !important;
}

header .header-content-wrapper .right-content-wrapper .header-account-link-loggedIn {
  color: #3466F6 !important;
}
header .header-content-wrapper .right-content-wrapper .header-account-link-loggedIn:hover {
  color: #3466F6 !important;
}

/* Style The Dropdown Button */
/* The container <div> - needed to position the dropdown content */
header .header-content-wrapper .right-content-wrapper .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
header .header-content-wrapper .right-content-wrapper .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 5;
  text-align: left;
  top: 1.6rem;
  right: -0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

header .header-content-wrapper .right-content-wrapper .dropdown-content .span-user-name {
  text-align: center !important;
  display: block;
  border-bottom: 0.1rem solid #c2c2c2;
  margin: 0 0.8rem 0.3rem 0.8rem;
}

/* Links inside the dropdown */
header .header-content-wrapper .right-content-wrapper .dropdown-content a {
  color: #252525;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  display: block;
}
header .header-content-wrapper .right-content-wrapper .dropdown-content a:hover {
  background-color: #f6f6f6;
  color: #000000;
}

/* Show the dropdown menu on hover */
header .header-content-wrapper .right-content-wrapper .dropdown:hover .dropdown-content {
  display: block;
}

header .header-content-wrapper .right-content-wrapper .dropdown a:hover + .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
header .header-content-wrapper .right-content-wrapper .dropdown:hover .account-btn {
  background-color: #f6f6f6;
}

header .header-content-wrapper .right-content-wrapper .hello-user {
  padding: 0 0.6rem;
  color: #3466F6;
}

@media (max-width: 991.98px) {
  header .header-content-wrapper .left-content-wrapper {
    order: 1;
    width: 50%;
  }
  header .header-content-wrapper .middle-content-wrapper {
    order: 2;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-top: 0.2rem solid #3466F6;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 5;
    padding-top: 2rem;
  }
  header .header-content-wrapper .middle-content-wrapper ul {
    position: relative;
    padding-top: 1.5rem;
  }
  header .header-content-wrapper .middle-content-wrapper ul li button {
    position: absolute;
    top: -0.8rem;
    right: 2rem;
    background-color: transparent;
    font-size: 1.6rem;
  }
  header .header-content-wrapper .middle-content-wrapper ul li {
    float: none;
    padding: 0;
    margin: 0;
  }
  header .header-content-wrapper .middle-content-wrapper ul li a {
    color: #252525;
    display: block;
    padding: 0.5rem;
    border-bottom: 0.1rem solid #c2c2c2;
  }
  header .header-content-wrapper .middle-content-wrapper ul li a:hover {
    background-color: #f6f6f6;
    color: #000000;
  }
  header .header-content-wrapper .middle-content-wrapper ul li:last-child a {
    border-bottom: none;
  }
  header .header-content-wrapper .right-content-wrapper {
    order: 3;
    flex: 1;
  }
  header .header-content-wrapper .right-content-wrapper .menu-btn {
    background-color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    color: #252525;
    display: inline;
  }
}
@media (max-width: 767.98px) {
  header .header-content-wrapper .right-content-wrapper .menu-btn {
    background-color: transparent;
  }
}
.h1-intro {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 3.5rem;
}

.page-intro-wrapper {
  padding-top: 6rem;
}

@media (max-width: 991.98px) {
  .h1-intro {
    font-size: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .page-intro-wrapper {
    padding-top: 0;
  }
}
.homepage-container {
  padding: 5rem;
}

.more-about-me-link-home-page {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}
.more-about-me-link-home-page:hover {
  color: #252525;
  text-decoration: underline;
}

.more-about-me-arrow {
  color: #004F93;
  font-weight: bold;
}

.more-about-me-link-home-page:hover ~ .more-about-me-arrow {
  color: #252525;
}

@media (max-width: 575.98px) {
  .homepage-container {
    padding: 4.6rem;
  }
}
.logo-wrapper a {
  text-decoration: none;
  font-weight: bolder;
  font-family: "Rajdhani", sans-serif;
  padding: 0;
  position: relative;
  margin: 0;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: #000000 !important;
}
.logo-wrapper a:hover {
  text-decoration: none;
}

.logo-dot {
  position: absolute;
  top: -1.1rem;
  left: -0.2rem;
  font-weight: bold;
  font-size: 3.5rem;
  color: #3466F6 !important;
}

.modal-header .close {
  font-size: 2rem;
  padding-right: 2rem;
}

.form-wrapper,
.form-wrapper-contact-form {
  padding: 2rem;
  margin-top: 3.5rem;
  background-color: #e9e9e9;
}

.form-wrapper .primary-btn,
.form-wrapper-contact-form .primary-btn {
  width: 60% !important;
}

.form-wrapper label,
.form-wrapper-contact-form label {
  font-weight: 500;
  color: #252525;
}

.form-wrapper .err-div,
.form-wrapper-contact-form .err-div-contact-form {
  display: none;
}

.saveorpublish {
  border: 0.1rem solid #e9e9e9;
}

.input-error {
  border-color: #c10909 !important;
}

@media (max-width: 991.98px) {
  .form-wrapper .primary-btn,
.form-wrapper-contact-form .primary-btn {
    width: 100% !important;
  }
}
@media (max-width: 767.98px) {
  .form-wrapper,
.form-wrapper-contact-form {
    margin-top: 0.8rem;
  }
}
#verifyModal .modal-content {
  min-height: 20rem;
}

#verifyModal .modal-header .close {
  font-size: 2rem;
  padding-right: 2rem;
}

#complete-reg-wrapper-div,
#reg-wrapper-div,
#forgotten-password-wrapper-div,
#reset-password-wrapper-div,
#login-wrapper-div {
  display: none;
}

.about-h5-intro {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem;
  background-color: #3466F6;
  color: #ffffff;
  position: relative;
  margin-bottom: 1rem;
  z-index: 2;
}

.about-h5-intro.active {
  color: #4c4c4c;
  border: 0.1rem solid #c2c2c2;
  border-bottom: none;
  background-color: #ffffff;
  margin-top: 1.3rem;
}

.about-centent-tabs .tab-content-wrapper-outter {
  display: none;
}

.tab-content-wrapper-outter .tab-content-wrapper-inner {
  padding: 0.5rem;
  border: 0.1rem solid #c2c2c2;
  z-index: 0;
  position: relative;
  margin-top: -1.1rem;
  background-color: #ffffff;
}

.about-centent-tabs .tab-heading-mobile {
  display: none;
}

.about-arrow-up {
  display: none;
}

.project-detail {
  padding: 0.6rem;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

.source-link-wrapper {
  display: block;
}

.source-link-wrapper a {
  text-decoration: underline;
}

.w3c-link {
  text-decoration: underline;
  font-style: italic;
}

.tech-stack-name {
  font-size: 0.9rem;
}

.skill-detail span {
  font-weight: 600;
}

.skills-heading-p {
  font-size: 1.3rem;
  padding-top: 1rem;
}

.skills-detail-div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 767.98px) {
  .tab-heading-desktop {
    display: none;
  }
  .about-centent-tabs .tab-heading-mobile {
    display: block;
    padding: 0.5rem;
  }
  .about-centent-tabs .tab-heading-mobile.active {
    background-color: #e9e9e9;
  }
  .about-centent-tabs .tab-content-wrapper-outter {
    margin-bottom: 1.5rem;
  }
}
footer {
  padding: 1rem;
  text-align: center;
}

.post-wrapper {
  background-color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-entry-wrapper {
  height: 100%;
  border: 0.1rem solid rgb(231, 228, 228);
}

.post-entry-detail-wrapper {
  padding: 0.6rem;
  background-color: #ffffff;
}

.post-entry-category-link-span a {
  color: #4c4c4c;
  font-size: 1rem;
  text-decoration: underline;
}

.post-entry-title a {
  color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
}
.post-entry-title a:hover {
  text-decoration: none;
}

.post-entry-title {
  margin-bottom: 0.4rem;
  line-height: 1.4rem;
}

.post-entry-detail-p {
  color: #4c4c4c;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.blog-pagi-link-wrapper nav ul {
  justify-content: center;
}

.blog-pagi-link-wrapper nav ul .page-link {
  margin-right: 0.8rem;
}

.blog-pagi-link-wrapper nav ul .page-item:last-child .page-link,
.blog-pagi-link-wrapper nav ul .page-item:first-child .page-link {
  border-radius: 0;
}

.single-post-details-wrapper {
  background-color: #ffffff;
  padding: 0 !important;
  padding-bottom: 2rem;
}

.single-post-details-wrapper .post-main-img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.single-post-title {
  font-size: 3rem;
  color: #000000;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.single-post-author-p {
  background-color: #f6f6f6;
  display: inline-block;
  padding: 0.1rem 0.5rem;
}

.next-prev-link-wrapper a {
  text-decoration: none;
  color: #4c4c4c;
  font-weight: 600;
}
.next-prev-link-wrapper a:hover {
  color: #000000;
}

.next-prev-link-wrapper a p {
  font-weight: normal;
}

@media (max-width: 991.98px) {
  .single-post-details-wrapper {
    padding-bottom: 0;
  }
  .single-post-title {
    font-size: 2.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .single-post-title {
    font-size: 2rem;
    padding-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
}
.side-bar-details-wrapper {
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.sidebar-category-wrapper {
  height: 7rem;
  overflow-y: scroll;
}

.sidebar-search-category-input-wrapper {
  position: relative;
}

.sidebar-search-category-input {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.sidebar-search-category-icon-search {
  border: 0;
  position: absolute;
  z-index: 4;
  left: 0.8rem;
  top: 0.4rem;
}

.sidebar-search-category-icon-times {
  border: 0;
  position: absolute;
  z-index: 4;
  right: 0.8rem;
  top: 0.4rem;
  display: none;
  cursor: pointer;
}

.admin-detail-value-span {
  color: #000000;
}

.dashboard-task-link {
  display: inline-block;
  padding: 2rem;
  text-decoration: none;
  background-color: #e9e9e9;
  color: #4c4c4c;
  font-weight: 600;
}
.dashboard-task-link:hover {
  color: #000000;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .dashboard-task-link {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.category-form-group-wrapper {
  position: relative;
}

#add-category-form button {
  width: 4rem !important;
  position: absolute;
  top: 3.7rem;
  right: 0;
}

.admin-all-category-input {
  width: 100%;
  border: none;
  text-align: left;
  cursor: default !important;
  background-color: #e9e9e9;
  padding-left: 0;
  font-weight: 600;
}
.admin-all-category-input:focus {
  background-color: #e9e9e9;
}

.admin-all-category-input-active {
  padding-left: 0.5rem;
  font-weight: normal;
  background-color: #ffffff;
  cursor: auto !important;
  border: 0.1rem solid #e9e9e9;
}
.admin-all-category-input-active:categoryfocus {
  background-color: #ffffff;
}

.admin-category-detail-wrapper-active {
  background-color: #ffffff;
}

@media (max-width: 767.98px) {
  #add-category-form button {
    width: 4rem !important;
    top: 3.8rem;
  }
}
