// .meet-joanah-img,
// .our-history-img {
// 	height: 400px;
// }
.aboutus-wrapper {
	padding-top: 2rem;
}
.aboutus-detail-wrapper {
	width: 100%;
}
.aboutus-detail-wrapper .image {
	height: 0;
	padding-bottom: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	width: 40%;
}
.aboutus-detail-wrapper .desc,
.aboutus-detail-wrapper .image {
	float: left;
	display: block;
}
.aboutus-detail-wrapper .desc {
	width: 60%;
	padding-left: 1.5rem;
}

.aboutus-detail-wrapper .desc h6 {
	display: inline-block;
	border-bottom: 0.2rem solid $primaryColor;
	margin-bottom: 0.8rem;
}
.aboutus-detail-wrapper .meet-joanah-wrapper {
	padding-left: 0;
	padding-right: 0.8rem;
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
	.aboutus-wrapper {
		padding-top: 0.5rem;
	}
	.aboutus-detail-wrapper .desc,
	.aboutus-detail-wrapper .image {
		float: none;
		width: 100%;
	}
	.aboutus-detail-wrapper .desc {
		padding-left: 0;
	}
	.aboutus-detail-wrapper .desc h6 {
		padding-left: 0;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}

@media (max-width: 575.98px) {
}
