.about-h5-intro{
  display: inline-block;
  border-bottom: 0.2rem solid $primaryColor;
  cursor: pointer;	
}
.about-arrow-up{
  display: none;
}
.project-detail{
	padding: 0.6rem;
	background-color: $whiteColor;
	margin-bottom: 1.5rem;
}
.project-exp-wrapper{
	margin-top: 1.5rem;
}
.collapse-history-wrapper{
	background-color: $whiteColor;
	padding: 1rem;
	margin-bottom: 2rem;

}
.project-collapse-wrapper{
	margin-bottom: 2rem;

}
.source-link-wrapper {
	display: block;
}
.source-link-wrapper a{
	text-decoration: underline;
}

.w3c-link{
 text-decoration: underline;
 font-style: italic;
	
}
.tech-stack-name{
  font-size: 0.9rem;
   
}
.skill-detail span{
	font-weight: 600;
}
.skills-heading-p{
	
	font-size: 1.3rem;
	padding-top: 1rem;
}

.skills-detail-div{
  padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	

}


@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
}
