.form-wrapper,
.form-wrapper-contact-form {
    padding: 2rem;
    margin-top: 3.5rem;
    background-color: $lightGreyColor;
}

.form-wrapper .primary-btn,
.form-wrapper-contact-form .primary-btn {
    width: 60% !important;
}

.form-wrapper label,
.form-wrapper-contact-form label {
    font-weight: 500;
    color: $darkGreyColor;
}

.form-wrapper .err-div,
.form-wrapper-contact-form .err-div-contact-form {
    display: none;
}

.saveorpublish {
    border: 0.1rem solid $lightGreyColor;
}

.input-error {
    border-color: $dangerColor  !important;
}




@media (max-width: 991.98px) {

    .form-wrapper .primary-btn,
    .form-wrapper-contact-form .primary-btn {
        width: 100% !important;
    }
}

@media (max-width: 767.98px) {

    .form-wrapper,
    .form-wrapper-contact-form {
        margin-top: 0.8rem;
    }
}

@media (max-width: 575.98px) {}