//==========ADMIN REVIEW===============
.reply-form-wrapper {
  display: none;
}
//==========REVIEW All===============
.review-item {
  padding: 1rem;
  background-color: $lighterGreyColor;
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .review-item-wrapper {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

@media (max-width: 575.98px) {
}
