// =============ADMIN ADD WORK==========
// =====================================
.input-images {
	padding-top: 0.5rem;
	cursor: pointer;
}
.add-work-submit-btn {
	width: 60%;
}
// =============ADMIN ALL WORK==========
// =====================================
.admin-work-item {
	position: relative;
}
.admin-work-item button {
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
	z-index: 2;
	display: none;
}
.delete-work-feedback {
	z-index: 2;
	position: absolute;
	top: 35%;
	left: 35%;
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
	.input-images {
		text-align: center;
	}
	.input-images img {
		margin: 0 auto;
		display: block;
		border-bottom: 1.5rem !important;
	}
	.add-work-submit-btn {
		width: 100%;
	}

	.admin-work-item button {
		right: 2rem;
	}
}
